################################################
#          Swoole-Compiler 配置文件示例
#
# 注意：
#     1. 请按照配置格式和提示修改配置文件
#     2. 配置项等号左右不可以有空格
#     3. 注释使用 # 符号
################################################

################## 项目配置 ##################

# 项目名称配置
# 项目名称的格式要求为英文字母的组合
# 如果需要设置自定义信息或者限制代码的运行环境，例如ip地址，mac地址，hostname，代码有效时间等，则需要设置此参数。否则，此参数请留空
product_name=Jade

################## 加密代码配置 ##################

# PHP版本
php_version=7.2

# 需要加密的PHP文件路径
php_files_path=/data/code/

# 生成的加密文件打包路径
compiled_archived_path=/data/output/code.tar.gz

# 不需要进行加密的PHP文件或者路径
# 请按照示例所示格式添加
## 设置加密文件黑名单的示例
#exclude_list=("/data/www/Cloud/Global/Config")
## 不设置加密文件黑名单的示例
#exclude_list=""

# 是否保留注释
# 此选项留空或者0代表不保留，1代表保留注释，有的框架会用注释做路由配置，这种情况下需要保留注释
save_doc=0

#################### 授权证书配置 ####################

# 生成的证书文件的存放地址
# 此选型留空表示默认存放于当前文件夹
license_file=/data/output/jade.license

# 可运行加密代码的机器的hostname
# 此选项留空或者0代表不限制运行加密代码的机器的域名(取值可以是多个域名 用英文逗号","隔离即可,支持*前缀 例如*.swoole.com代表允许所有swoole.com的二级域名运行加密文件) 
#hostname=www.swoole.com

# 可运行加密代码的机器的ip地址
# 此选项留空或者0代表不限制运行加密代码的ip地址 (取值可以是多个ip地址 用英文逗号","隔离即可)
#ip_address=10.10.2.198

# 加密的文件的最后有效时间(超过此时间后，代码不可以再运行)
# 格式为Unix时间戳
# 此选项留空或者0代表不设置最后的生效时间
#expire_at=1501829526

# 可运行加密的代码的机器的mac地址，不区分大小写
# 此选项留空或者0代表不限制运行加密代码的机器(取值可以是多个mac地址 用英文逗号","隔离即可)
# windows下mac地址用-分割，例如:  08-00-27-fe-74-52
#mac_address=08:00:27:fe:74:52

# 可选配置信息
# 以下配置为自定义配置，可以从运行代码中通过`swoole_get_license()`获取配置信息
# 以下为示例可选配置
#user_data="xxxxxxxxxxxxxxxxxxxxx"
#copyright="xxxxxxx"
#licensed_to="xxxxxx"
